@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 1.25rem;
}

/*<-- Header Section*/
.navbar {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.25rem !important;
  align-items: center;
  transition: 0.6s ease-in-out;
  z-index: 9;
  width: 100%;
}

.navbar:hover {
  background-color: #fff;
}

.navbar:focus {
  background-color: #fff;
}

.navbar:hover > .nav-links a {
  color: black;
}

.navbar:hover > .nav-brand h4 {
  color: #000;
}

.navbar:hover > .nav-icons a {
  color: #000;
}

.navbar:hover > .nav-bar-responsive {
  color: #000;
}

.nav-links {
  gap: 1rem;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 0.3rem;
}

.nav-brand {
  display: flex;
  align-items: baseline;
}

.nav-brand h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.home-link {
  text-decoration: none;
}

.nav-icons {
  display: flex;
  gap: 0.85rem;
  font-size: 1.35rem;
  align-items: center;
}

.nav-icons a {
  text-decoration: none;
  color: #fff;
}

.fi {
  font-weight: lighter;
}

.fi-rr-search {
  font-size: 1.25rem !important;
}

.nav-bar-responsive {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav-mobile-links-container {
  display: none;
}

.nav-bar-responsive-secondary {
  display: none;
  font-size: 1.5rem;
}

/*Navbar Secondary*/
.navbar-secondary {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  padding: 1rem 2.25rem !important;
  align-items: center;
  transition: 0.6s ease-in-out;
  color: #000;
  width: 100%;
}

.nav-links-secondary {
  gap: 1rem;
  display: flex;
}

.nav-links-secondary a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #000;
  letter-spacing: 0.3rem;
}

.nav-links-secondary a:hover,
.nav-icons-secondary a:hover {
  color: #868e96;
}

.nav-brand-secondary {
  display: flex;
  align-items: baseline;
  letter-spacing: 0.2rem;
}

.nav-brand-secondary h4 {
  color: #000;
}

.nav-icons-secondary {
  display: flex;
  gap: 0.85rem;
  font-size: 1.35rem;
  align-items: center;
}

.nav-icons-secondary a {
  text-decoration: none;
  color: #000;
}

/*Slider part*/
.carousel-container {
  width: 100%;
  position: absolute;
  top: 0;
}

.slider-img-1 {
  background: url('https://images.unsplash.com/photo-1613040809024-b4ef7ba99bc3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.slider-img-2 {
  background: url('https://images.unsplash.com/photo-1518908336710-4e1cf821d3d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1013&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.slider-img-3 {
  background: url('https://images.unsplash.com/photo-1510297182321-a75bdc5b1299?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=902&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.carousel-text {
  bottom: 9rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 0 !important;
}

.carousel-text p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.75rem;
}

.carousel-text h3 {
  font-family: 'Limelight', cursive;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #fff;
}

.carousel-btn {
  letter-spacing: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff !important;
  border: 1.25px solid #dee2e6;
}

.carousel-indicators button {
  border-radius: 50%;
  width: 6px !important;
  height: 6px !important;
}

/*Product Show-Case Part*/
.showcase-row {
  gap: 0.5rem;
}

.showcase-col {
  font-family: 'Archivo Black', sans-serif;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8.5rem 0;
  gap: 0.5rem;
  color: #fff;
  letter-spacing: 0.15rem;
}

.showcase-col h1 {
  font-size: 3.5rem !important;
  color: #fff;
}

.showcase-col p {
  font-size: 2rem !important;
  color: #fff;
  font-weight: bold;
  font-family: 'Zen Maru Gothic', sans-serif !important;
  text-transform: capitalize;
}

.showcase-btn {
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.showcase-1A {
  background-image: url('./assets/alexa.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-2A {
  background-image: url('./assets/headphone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-1B {
  background-image: url('./assets/earpods.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.showcase-2B {
  background-image: url('./assets/mouse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.showcase-3B {
  background-image: url('./assets/phone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.showcase-3B p {
  color: #343a40 !important;
}

.showcase-3B-only-black-btn {
  color: #343a40 !important;
}

/*Benefits Part*/
.benefits-container {
  padding: 5rem 3rem;
  width: 100%;
  background-color: #f8f9fa;
}

.benefits {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: center;
}

.fas {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50%;
  color: #343a40 !important;
}

.benefits-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.benefits-text p {
  margin-bottom: 0;
  font-family: 'PT sans', sans-serif;
}

/*Footer Part*/
.footer-container {
  color: #868e96;
  padding: 6rem 0;
  background-color: #dee2e6;
  width: 100%;
}

.footer-brand {
  display: flex;
  align-items: baseline;
  padding-bottom: 1rem;
}

.footer-brand h4 {
  letter-spacing: 2px;
}

.footer-1st-section p {
  font-family: 'PT sans', sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #868e96;
  margin-bottom: 1rem !important;
}

.social-icons-container {
  display: flex;
}

.social-icons-container ul {
  list-style-type: none;
  padding-left: 0 !important;
  padding-right: 0.75rem;
  font-size: 1rem;
}

.social-icons-container a {
  color: #868e96;
  transition: 0.2s;
}

.social-icons-container a:hover {
  color: #000;
}

.footer-2nd-section h6 {
  color: #000;
  font-family: 'PT sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.footer-2nd-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0rem !important;
}

.footer-2nd-section a {
  text-decoration: none;
  color: #868e96;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.footer-2nd-section a:hover {
  color: #000;
}

.footer-3rd-section h6 {
  color: #000;
  font-family: 'PT sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.footer-3rd-section p {
  font-family: 'PT sans', sans-serif;
  color: #868e96;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.suscribe-container {
  display: flex;
  align-items: center;
  border: 1px solid #868e96;
}

.suscribe-container input {
  padding: 0.35rem 1rem;
  width: 100%;
  border: none;
  outline: none;
}

.suscribe-container input::placeholder {
  font-family: 'PT sans', sans-serif;
  font-size: 0.9rem;
  color: #868e96;
  letter-spacing: 0.05rem;
}

.suscribe-container button {
  background: #fff;
  color: #3e454b;
  font-size: 1rem;
  display: flex;
  right: 11rem;
  padding: 0.79rem;
  border: none;
}

.suscribe-container button:hover {
  color: #000;
}

.copyright-section {
  background-color: #343a40;
  color: #fff;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.copyright-section-text {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.copyright-section-icons {
  display: flex;
  gap: 0.25rem;
  font-size: 1.15rem;
}

/*Product Screen Part*/
.products-screen-container {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.all-products-headers {
  text-align: center;
}

.all-products-headers a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1.5rem 0;
  color: #868e96;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.all-products-headers a:hover {
  color: #000;
  transition: 0.3s;
}

.all-products-headers h1 {
  padding: 1.5rem 0;
  font-family: 'Limelight', cursive !important;
}

/*Products Part*/
.products-container {
  position: relative;
  cursor: pointer;
}

.products-container:hover {
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.card-overlay {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.card-overlayFade {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0a0a0abe;
  transition: all 0.3s ease-in-out;
}

.products-container:hover .card-overlayFade {
  opacity: 1;
}

.overlay-btns {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  justify-content: center !important;
  text-transform: uppercase !important;
  padding: 0.5rem 1.8rem !important;
  letter-spacing: 2px;
}

/*Individual Product ShowCase*/
.individual-product-container {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Individual Product Part*/
.flex-row {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  font-size: 0.7875rem;
  justify-content: center;
  padding: 1.5rem 0;
}

.individual-product-container {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.individual-product-details {
  padding: 0 2.5rem;
}

.individual-product-details h1 {
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.individual-product-price {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: baseline;
}

.individual-product-desc {
  color: #868e96 !important;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.individual-product-info {
  display: flex;
  justify-content: space-between;
}

.individual-product-info h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif !important;
  letter-spacing: 1px;
}

.individual-product-info p {
  color: #868e96;
  font-size: 0.9rem;
}

.quantity-form {
  padding: 0.5rem 1.5rem;
  max-width: 100px;
  background-color: #fff;
  border: 1px solid #868e96;
  color: #000;
}

.btn-addCart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 3px;
  margin-top: 1rem;
}

/*Rating Part*/
.rating {
  font-size: 0.9rem;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.rating-text {
  font-size: 0.7875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #868e96;
  margin-left: 0.25rem;
}

/*Login And Register Screen Part*/
.login-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-headings h1 {
  font-family: 'Archivo Black', sans-serif;
  text-transform: capitalize;
  font-size: 4rem;
  color: #343a40;
  letter-spacing: 1px;
}

.login-screen-details {
  display: flex;
  justify-content: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #343a40;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
}

.login-screen-details h5 {
  background-color: #f8f9fa;
  padding: 1.25rem 1.5rem;
  letter-spacing: 3px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-screen-details p {
  font-size: 1.215rem;
  font-weight: 300;
}

.login-texts {
  color: #868e96 !important;
  font-size: 0.9rem !important;
}

.login-underline {
  height: 2px;
  background-color: #f8f9fa;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1rem !important;
  color: #868e96;
}

.form-control {
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #3e454b;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

/*Cart Screen*/
.cart-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.cart-screen-container h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Archivo Black', sans-serif;
  color: #3e454b;
}
